.weather-container {
  padding: 1em;
  margin: 1em 0;
  font-family: "Source Sans Pro", sans-serif;
}
.sunny {
  background: url(../assets/sunny.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.cloudy {
  background: url(../assets/cloudy.jpg) no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: flex-end;
  li {
    padding-left: 3em;
    list-style: none;
    a {
      list-style: none;
      color: whitesmoke;
      text-decoration: none;
      &:hover {
        color: #e55851;
        transition: all 0.03s linear;
      }
    }
  }
}
